
.div1 {
    background-color: #00806b;
    height: 300px;
    width: 100%;
    position: relative;
    margin-top: 50px;
}

.div2 {
    position: absolute;
    width: 30%;
    height: 20%;
    background-color: white;
    bottom: 0;
    left: 50%;
    border-radius: 20px 20px 0 0;
    transform: translate(-50%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div2::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    transform: translateX(-100%);
    width: 50%;
    height: 100%;
    background: transparent;
    box-shadow: inset -20px -20px 0px white;
    border-radius: 0 0 20px 0;
    transition: border-radius 300ms ease;
    pointer-events: none;
    z-index: -1;
}
.div2::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    transform: translateX(100%);
    width: 50%;
    height: 100%;
    background: transparent;
    box-shadow: inset 20px -20px 0px rgb(255, 255, 255);
    border-radius: 0 0 0 20px;
    transition: border-radius 300ms ease;
    pointer-events: none;
    z-index: -1;
}
